@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50;
  @apply h-screen;
  /* @apply bg-gradient-to-r from-indigo-500 to-purple-500; */
}

.inputfile {
  /* width: 0.1px;
  height: 0.1px; */
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  @apply cursor-pointer w-full text-center;
  @apply mr-5 px-6 py-2 text-sm rounded-sm border-0 font-medium bg-blue-500 text-white;
  /* font-weight: 700;
  color: white;
  background-color: black; */
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  @apply cursor-pointer bg-blue-400 transition ease-in-out duration-200;
  /* background-color: red; */
}

/* .inputfile + label {
  cursor: pointer;
} */
